includes:
    - ./vendor/larastan/larastan/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 6

    paths:
        - config
        - src
        - tests

    # Report when previously ignored errors are no longer present and can be removed from ignores
    reportUnmatchedIgnoredErrors: true

    # Larastan Config https://github.com/nunomaduro/larastan/blob/master/docs/rules.md
    checkModelProperties: true
    checkOctaneCompatibility: true

    # Enforce stricter usages of @throws and related Exception-handling https://phpstan.org/blog/bring-your-exceptions-under-control
    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses: # You'll also want to set these in PHPStorm
            - 'LogicException'
            - 'RuntimeException'
            - 'Error'

    ignoreErrors:
        - '#Class NovaHorizons\\Realoquent\\DataObjects\\(.*?) has an uninitialized \@readonly property (.*?). Assign it in the constructor.#'
        - '#\@readonly property NovaHorizons\\Realoquent\\DataObjects\\(.*?) is assigned outside of the constructor.#'
        - '#Method NovaHorizons\\Realoquent\\RealoquentHelpers::printArray\(\) has parameter \$var with no value type specified in iterable type array.#'
        - '#Method NovaHorizons\\Realoquent\\Writer\\SchemaWriter::arrayToString\(\) has parameter \$array with no value type specified in iterable type array.#'
        -
            message: '#Match arm comparison between (.*?) is always true#'
            path: src/Enums
        -
            # Ignore env calls in test config files
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: tests/config/
