includes:
    - ../vendor/larastan/larastan/extension.neon

#### This is for Pest tests

parameters:
    level: 9

    paths:
        - Models

    reportUnmatchedIgnoredErrors: true

    # Larastan Config https://github.com/nunomaduro/larastan/blob/master/docs/rules.md
    checkModelProperties: true
    checkOctaneCompatibility: true

    # Enforce stricter usages of @throws and related Exception-handling https://phpstan.org/blog/bring-your-exceptions-under-control
    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true

    ignoreErrors:
        - '#Class Tests\\Models.*? has PHPDoc tag @property for property .*? with no value type specified in iterable type.*?#'
        - '#PHPDoc tag @property for property Tests\\Models.*? contains generic class Illuminate\\Database\\Eloquent\\Casts\\ArrayObject but does not specify its types: TKey, TItem#'
